node_modules
dist
*.log
.DS_Store
oclif.manifest.json
.tsbuildinfo

# Sensitive data
.env
.env.*
!.env.example

# Tooling
.gemini
.vercel
.agent

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/workflows